* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    max-width: 960px;
    margin: auto;
}

.menu__logo {
    font-size: 1.8rem;
    flex: 1 1 40rem;
}

.section__heading {
    font-size: 3.6rem;
}

.section__subheading {
    font-size: 1.8rem;
    padding: 3rem 0;
}

.section__button {
    font-size: 1.8rem;
    background-color: transparent;
    color: #fff;
    padding: 1rem 5rem;
    border: 0.3rem solid #fff;
}

/*nav and section styles */
.menu {
    background: #4E4E4E;
    color: #fff;
}

.menu__navigation {
    min-height: 10vh;
    display: flex;
    width: 90%;
    padding: 2rem;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}

.menu .menu__link {
    color: #fff;
    text-decoration: none;
}

.menu__row {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    list-style-type: none;
}

.section {
    min-height: 90vh;
    background-image: url("/my-company/img/federico-bottos-Z3NceSeZqgI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section__text {
    width: 90%;
    margin: auto;
    color: #fff;
    padding: 2rem;
}

.profile {
    padding: 2rem 0;
    padding-bottom: 3.8rem;
    background-color: #F1F1F1;

}

.profile__text {
    width: 90%;
    margin: auto;
    padding: 2rem;
}

.profile__card {
    display: flex;
    padding-top: 2.5rem;
    flex-wrap: wrap;
}

.profile__heading {
    font-size: 3rem;
}

.profile__photo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: url("/img/matheus-ferrero-W7b3eDUb_2I-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid blue;

}

.profile__caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 2.8rem;
    flex: 1 1 10rem;

}

.profile__name {
    padding-bottom: 2rem;
}

.profile__caption--inverted {
    align-items: flex-end;
    justify-content: center;
    margin-right: 2.8rem;
}

.profile__photo--inverted {
    order: 2;
}

.profile__caption p {
    text-align: justify;

}

@media screen and (max-width: 764px) {
    html {
        font-size: 45%;
    }

    .section__text {
        margin-left: 1rem;
        padding-left: 1rem;
    }

    .menu__row {
        display: none;
    }

    .profile {
        text-align: center;

    }

    .profile__card,
    .profile__photo {
        padding: 2.5rem;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .profile__caption {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .profile__photo--inverted {
        order: -1;
        
    }
    .profile__caption--inverted{
        margin-right: 0;
    }
}